{% extends "WalletDesktopFrontendBundle::layout.html.twig" %}

{% block currentPage %}accounts{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <tr>
            <th>Account</th>
            <th>AccountNumber</th>
            <th>Balance</th>
            <th>Available Balance</th>
        </tr>

        {% for account in accounts %}
            <tr>
                <td>{{ account.title }}</td>
                <td>{{ account.accountNumber }}</td>

                {% set balance = account.balance %}
                <td {% if balance < 0 %}class="danger"{% elseif balance == 0 %}class="warning"{% else %}class="success"{% endif %}>
                    {{ balance }}&euro;
                </td>

                {% set availableBalance = getAvailableAccountBalance(account.id) %}
                <td {% if availableBalance < 0 %}class="danger"{% elseif availableBalance == 0 %}class="warning"{% else %}class="success"{% endif %}>
                    {{ availableBalance }}&euro;
                </td>
            </tr>
        {% endfor %}

    </table>    

{% endblock %}
