{% extends "WalletDesktopFrontendBundle::layout.html.twig" %}

{% block currentPage %}accounts{% endblock %}

{% block title %}Delete Fixture{% endblock %}

{% block content %}

    <div class="panel panel-danger">
        <div class="panel-body">

            <form method="post">
                <h2>Delete Fixture '{{ fixture.title }}'?</h2>

                <input type="hidden" name="sent" value="1">

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="{{ path('accounts_collection') }}" class="btn btn-danger">Back</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
